.header,
.footer {
  height: 50px;
}

.header {
  background: yellow;
}

.footer {
  background: green;
  clear: both;
}

.content,
.sidebar {
  height: 500px;
}

.content {
  float: left;
  width: 80%;
  background: pink;
}

.sidebar {
  float: left;
  right: 0; 
  width: 20%;
  background: grey;
}