* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.text {
  display: inline-block;
  position: relative;
  margin: 15px 16px;
  border-bottom: 1px dotted black;
}

.tooltip {
  display: none;
  position: absolute;
  background: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  left: 0;
}

.text:hover .tooltip {
  display: block;
}