* {
  box-sizing: border-box;
}

.header {
  height: 40px;
}

.navigation {
  height: 40px;
  background: darkturquoise;
}

.nav-list {
  display: flex;
  margin: 0;
}

.nav-item {
  list-style: none;
  color: white;
  margin-right: 16px;
  padding-top: 11px;
}

.content {
  background: beige;
  height: 5000px;
}

.head {
  height: 200px;
  width: 200px;
  background: aquamarine;
  position: relative;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.ear {
  width: 40px;
  height: 60px;
  background: brown;
  position: absolute;
  top: calc(50% - 160px);
}

.ear_left {
  right: calc(50% - 140px);
}

.ear_right {
  left: calc(50% - 140px);
}

.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: grey;
  position: absolute;
}

.eye_right {
  right: calc(50% - 60px);
  top: calc(50% - 20px);
}

.eye_left {
  left: calc(50% - 60px);
  top: calc(50% - 20px);
}
