.header {
  background: red;
  height: 100px;
}

.title {
  font-size: 24px;
  color: white;
}

.main {
  background: blue;
  color: white;
  height: 300px;
  font-size: 18px;
}

.footer {
  color: white;
  background: green;
  font-size: 18px;
  height: 100px;
}
