* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

h1 {
    text-align: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}

.article {
    padding: 8px;
    margin: 16px;
    background: bisque;
    flex-grow: inherit; 
    flex-basis: 300px;     
}