li {
    margin: 16px;
}

ul > li:first-child > span {
    background: red;
    color: white;
}

ul > li:last-child > span {
    background: #000;
    color: white;
}

li:nth-child(even) > span {
    margin: 16px;
}

p:nth-child(1), p:nth-child(4){
    background: grey;
}

